.search-form {
  display: flex;
  gap: 5px;
  justify-content: center;
  background-color: rgb(253, 81, 81);
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  font-weight: 600;
  padding-left: 10px;
  border-radius: 8px;
  width: 250px;
  height: 40px;
  outline: none;
  border: 0;
}

button {
  border-radius: 8px;
  outline: none;
  border: 0;
  width: 70px;
}
