input {
  font-weight: 600;
  padding-left: 10px;
  border-radius: 8px;
  width: 250px;
  height: 40px;
  outline: none;
  border: 0;
}

button {
  border-radius: 8px;
  outline: none;
  border: 0;
  width: 70px;
  cursor: pointer;
}

img {
  width: 400px;
  height: 240px;
  border-radius: 5px 5px 0px 0px;
}

.search-form {
  display: flex;
  gap: 5px;
  justify-content: center;
  background-color: rgb(253, 81, 81);
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery {
  margin-top: 15px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.info-item {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-card {
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 6px 6px 10px -3px rgba(0, 0, 0, 0.75);
}
